In [1]:
import sys
import snowflake.connector as sf
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
ctx =sf.connect(
    user='mgupta1@chewy.com',
    autocommit = 0,
    authenticator= "externalbrowser",
    account='chewy.us-east-1'
    )

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://chewy.okta.com/app/snowflake/exkmzig18yW58r3j00x7/sso/saml?SAMLRequest=lZJLc9owFIX%2Fikdd25J5JKDBZBwohE7aMoGUtjshCyNsS66ujKG%2FPjKPTLpIZrrzyOfoO7rnDu4ORe7thQGpVYTCgCBPKK4TqdIIPS8nfg95YJlKWK6ViNBRALobDoAVeUnjym7Vk%2FhTCbCeu0gBbX5EqDKKagYSqGKFAGo5XcRfH2krIJQBCGMdDl0sCUjH2lpbUozrug7qdqBNiluEEEz62KkaySf0BlF%2BzCiNtprr%2FGo5uDe9gwgx6TQIp3CE%2BcV4L9V5BB9R1mcR0Iflcu7Pvy%2BWyIuvrxtpBVUhzEKYveTi%2BenxHABcgtHD59WvoAJfMLB%2BGIDS9SZnmeC6KCvr7gzcF96IBOc6lW5Ss3GEykwmNh7djr%2Bku%2B00bvez1Wo6Tyd82m7z3aFO9gnfrbP79XbzsxNqjrwf115bTa8zgErMVNOmdUek1fHJjU86y7BLOz0a9oObVvc38sauTamYPTmvkflW1MdAZ5adorGyxK%2BpsThkxV%2BZhr3jqtsz7R0hh1sMoHFTFTpvCz3hzfD%2FZjDAb72XtfvmmpiN5zqX%2FOhNtCmYfb%2BoMAhPJzLxNycpFQWTeZwkRgC4wvJc1yMjmHXbbU0lEB6eqf%2Fu9%2FAF&RelayState=57444 to authenticate...

In [3]:
sql_consider_cust = """ 

SELECT * FROM mrch_sandbox.mrch_ds_customer_segment_data
"""

cur= ctx.cursor()
cur.execute(sql_consider_cust)
data_consider = cur.fetch_pandas_all()
data_consider.shape

(7429352, 8)

In [6]:
data_consider["SW_PROMO_FLAG"].value_counts()

SW_PROMO_FLAG
NO_PROMO        7072562
SINGLE_PROMO     297780
MULTI_PROMO       59010
Name: count, dtype: int64

In [15]:
data_consider["SW_FLAG"] = 0
data_consider.loc[data_consider["SW_PROMO_FLAG"].isin(['SINGLE_PROMO' , 'MULTI_PROMO'])  , "SW_FLAG" ] = 1

data_consider["CONCAT"] = data_consider['AS_FLAG'].astype(str) + '_'  + data_consider['PET_FLAG'].astype(str) + '_'  + data_consider['MC2_FLAG'].astype(str) + '_'   + data_consider['SW_FLAG'].astype(str)

data_consider['COUNT'] = data_consider.groupby(['BUCKETS' , 'REGULAR_FLAG' , 'CONSISTENT_FLAG'])['CUSTOMER_ID'].transform('count')
data_consider["COMBO_COUNT"] = data_consider.groupby(['BUCKETS' , 'REGULAR_FLAG' , 'CONSISTENT_FLAG', 'CONCAT'])['CUSTOMER_ID'].transform('nunique')

data_consider["COMBO"] =  data_consider['REGULAR_FLAG'].astype(str) + '_'  + data_consider['CONSISTENT_FLAG'].astype(str) + '_'  + data_consider['BUCKETS'].astype(str)

In [16]:
data_consider.sort_values(by = "COMBO_COUNT")

,BUCKETS,REGULAR_FLAG,CONSISTENT_FLAG,CUSTOMER_ID,AS_FLAG,PET_FLAG,MC2_FLAG,SW_PROMO_FLAG,CONCAT,COUNT,COMBO_COUNT,COMBO,SW_FLAG
448014,2_ns_51_150,1,1,44576789,0,MULTI_PET,1,SINGLE_PROMO,0_MULTI_PET_1_1,55701,3,1_1_2_ns_51_150,1
3579664,1_ns_1_50,0,1,69756973,0,MULTI_PET,1,SINGLE_PROMO,0_MULTI_PET_1_1,586515,3,0_1_1_ns_1_50,1
1833121,4_ns_250_300,0,0,22634540,0,MULTI_PET,1,SINGLE_PROMO,0_MULTI_PET_1_1,79999,3,0_0_4_ns_250_300,1
801161,1_ns_1_50,0,1,91566196,0,MULTI_PET,1,SINGLE_PROMO,0_MULTI_PET_1_1,586515,3,0_1_1_ns_1_50,1
6329277,2_ns_51_150,1,1,891395791,0,MULTI_PET,1,SINGLE_PROMO,0_MULTI_PET_1_1,55701,3,1_1_2_ns_51_150,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6892976,2_ns_51_150,0,0,36837543,0,NO_PET,0,NO_PROMO,0_NO_PET_0_0,912965,282761,0_0_2_ns_51_150,0
6892975,2_ns_51_150,0,0,128971380,0,NO_PET,0,NO_PROMO,0_NO_PET_0_0,912965,282761,0_0_2_ns_51_150,0
5050344,2_ns_51_150,0,0,151341107,0,NO_PET,0,NO_PROMO,0_NO_PET_0_0,912965,282761,0_0_2_ns_51_150,0
620854,2_ns_51_150,0,0,23195565,0,NO_PET,0,NO_PROMO,0_NO_PET_0_0,912965,282761,0_0_2_ns_51_150,0
3987976,2_ns_51_150,0,0,24838440,0,NO_PET,0,NO_PROMO,0_NO_PET_0_0,912965,282761,0_0_2_ns_51_150,0

In [10]:
data_consider.groupby(['BUCKETS' , 'REGULAR_FLAG' , 'CONSISTENT_FLAG'])['CUSTOMER_ID'].count().sort_values()

BUCKETS         REGULAR_FLAG  CONSISTENT_FLAG
8_ns_1100_1200  0             1                    10301
9_ns_1200_1500  0             1                    18372
6_ns_500_700    0             0                    33595
2_ns_51_150     1             1                    55701
8_ns_1100_1200  1             1                    74039
4_ns_250_300    0             0                    79999
                1             1                   101591
5_ns_300_500    0             0                   102725
7_ns_700_1100   0             1                   114272
3_ns_150_250    1             1                   154484
9_ns_1200_1500  1             1                   162994
6_ns_500_700    0             1                   168227
4_ns_250_300    0             1                   186927
3_ns_150_250    0             0                   273872
6_ns_500_700    1             1                   361518
5_ns_300_500    1             1                   439327
                0             1                   453606
7_ns_700_1100   1             1                   459423
1_ns_1_50       0             1                   586515
3_ns_150_250    0             1                   633758
1_ns_1_50       0             0                   725030
2_ns_51_150     0             0                   912965
                              1                  1320111
Name: CUSTOMER_ID, dtype: int64

In [17]:
selected_data = pd.DataFrame()

In [18]:
# for regular in  list(data_consider["REGULAR_FLAG"].unique()):
#     for consistent_flag in list(data_consider["CONSISTENT_FLAG"].unique()):
#         for buckets in list(data_consider["BUCKETS"].unique()):
#             print(regular , consistent_flag , buckets)
            
#             data_sel = data_consider[(data_consider["REGULAR_FLAG"] == regular) & (data_consider["CONSISTENT_FLAG"] == consistent_flag ) & (data_consider["BUCKETS"] == buckets)]
            
#             print(data_sel.shape)
for combo in list(data_consider["COMBO"].unique()):
    data_sel = data_consider[data_consider["COMBO"] == combo]
    X_train, Test = train_test_split(data_sel , test_size= 0.7 ,  stratify = data_sel['CONCAT'])
    Test["Flag"] = "Test"
    X_train["Flag"] = "Control" 


    temp_df = pd.concat([Test[["CUSTOMER_ID" , 'Flag']] ,  X_train[["CUSTOMER_ID" , 'Flag']]  ])   
    selected_data = pd.concat([selected_data, temp_df])

In [19]:
selected_data.groupby("Flag")["CUSTOMER_ID"].count()

Flag
Control    2228796
Test       5200556
Name: CUSTOMER_ID, dtype: int64

In [73]:
selected_data.shape

(7429352, 2)

In [20]:
merge_data_1 = data_consider.merge(selected_data , on = "CUSTOMER_ID" , how = 'left')

In [69]:
final_data = pd.DataFrame()
for column_val in ['AS_FLAG','SW_FLAG','PET_FLAG', 'MC2_FLAG']:
    pivot = merge_data_1.pivot_table(index=['BUCKETS' , 'REGULAR_FLAG' , 'CONSISTENT_FLAG',  column_val],
                        columns=['Flag'],
                        values = ["CUSTOMER_ID"],
                         aggfunc = 'count'
                        )
    pivot.columns =[str(s2)  +"_"+ str(s1) for (s1,s2) in pivot.columns.tolist()]
    pivot.reset_index(inplace=True)
    pivot["CHARACTERISTIC"] = column_val
    pivot.rename(columns = {column_val: "VALUE"} , inplace = True)
   
    final_data  = pd.concat([pivot, final_data], ignore_index=True)

final_data.rename(columns =   {"Control_CUSTOMER_ID": "Control" , "Test_CUSTOMER_ID": "Test" }, inplace = True)  
final_data = final_data[["BUCKETS" , "REGULAR_FLAG" , "CONSISTENT_FLAG", "CHARACTERISTIC" , "VALUE" , "Control" , "Test"]]

In [70]:
pivot_total = merge_data_1.pivot_table(index=['BUCKETS' , 'REGULAR_FLAG' , 'CONSISTENT_FLAG'],
                        columns=['Flag'],
                        values = ["CUSTOMER_ID"],
                        aggfunc = 'count'
                        )
pivot_total.columns =[str(s2)  +"_"+ str(s1) for (s1,s2) in pivot_total.columns.tolist()]
pivot_total.reset_index(inplace=True)
pivot_total.rename(columns =   {"Control_CUSTOMER_ID": "Control_Total" , "Test_CUSTOMER_ID": "Test_Total" }, inplace = True)

final_data = final_data.merge(pivot_total , on = ["BUCKETS" , "REGULAR_FLAG" , "CONSISTENT_FLAG"] , how = 'left') 
final_data.sort_values(by = ["BUCKETS" , "REGULAR_FLAG" , "CONSISTENT_FLAG"] , inplace = True)

In [72]:
final_data.to_csv("distribution.csv")

In [75]:
merge_data_1[["BUCKETS" , "REGULAR_FLAG" , "CONSISTENT_FLAG" , "CUSTOMER_ID" ,"Flag" ]].to_csv("new_cohort.csv")

In [50]:
test  = merge_data_1.groupby(['BUCKETS' , 'REGULAR_FLAG' , 'CONSISTENT_FLAG', 'Flag']).agg({"CUSTOMER_ID" : 'count' }).reset_index()
# test["AS_PERC"] = test["AS_FLAG"] * 100 / test["CUSTOMER_ID"]
# test["MC2_PERC"] = test["MC2_FLAG"] * 100 / test["CUSTOMER_ID"]

pivot

,BUCKETS,REGULAR_FLAG,CONSISTENT_FLAG,Control_CUSTOMER_ID,Test_CUSTOMER_ID
0,1_ns_1_50,0,0,217509,507521
1,1_ns_1_50,0,1,175954,410561
2,2_ns_51_150,0,0,273889,639076
3,2_ns_51_150,0,1,396033,924078
4,2_ns_51_150,1,1,16710,38991
5,3_ns_150_250,0,0,82161,191711
6,3_ns_150_250,0,1,190127,443631
7,3_ns_150_250,1,1,46345,108139
8,4_ns_250_300,0,0,23999,56000
9,4_ns_250_300,0,1,56078,130849
10,4_ns_250_300,1,1,30477,71114
11,5_ns_300_500,0,0,30817,71908
12,5_ns_300_500,0,1,136081,317525
13,5_ns_300_500,1,1,131798,307529
14,6_ns_500_700,0,0,10078,23517
15,6_ns_500_700,0,1,50468,117759
16,6_ns_500_700,1,1,108455,253063
17,7_ns_700_1100,0,1,34281,79991
18,7_ns_700_1100,1,1,137826,321597
19,8_ns_1100_1200,0,1,3090,7211
20,8_ns_1100_1200,1,1,22211,51828
21,9_ns_1200_1500,0,1,5511,12861
22,9_ns_1200_1500,1,1,48898,114096

In [16]:
test.groupby(['BUCKETS' , 'REGULAR_FLAG' , 'CONSISTENT_FLAG' , 'Flag' ])['CUSTOMER_ID'].sum().sort_values()

BUCKETS         REGULAR_FLAG  CONSISTENT_FLAG  Flag
8_ns_1100_1200  0             1                Control      3090
9_ns_1200_1500  0             1                Control      5511
8_ns_1100_1200  0             1                Test         7211
6_ns_500_700    0             0                Control     10078
9_ns_1200_1500  0             1                Test        12861
2_ns_51_150     1             1                Control     16710
8_ns_1100_1200  1             1                Control     22211
6_ns_500_700    0             0                Test        23517
4_ns_250_300    0             0                Control     23999
                1             1                Control     30477
5_ns_300_500    0             0                Control     30817
7_ns_700_1100   0             1                Control     34281
2_ns_51_150     1             1                Test        38991
3_ns_150_250    1             1                Control     46345
9_ns_1200_1500  1             1                Control     48898
6_ns_500_700    0             1                Control     50468
8_ns_1100_1200  1             1                Test        51828
4_ns_250_300    0             0                Test        56000
                              1                Control     56078
                1             1                Test        71114
5_ns_300_500    0             0                Test        71908
7_ns_700_1100   0             1                Test        79991
3_ns_150_250    0             0                Control     82161
                1             1                Test       108139
6_ns_500_700    1             1                Control    108455
9_ns_1200_1500  1             1                Test       114096
6_ns_500_700    0             1                Test       117759
4_ns_250_300    0             1                Test       130849
5_ns_300_500    1             1                Control    131798
                0             1                Control    136081
7_ns_700_1100   1             1                Control    137826
1_ns_1_50       0             1                Control    175954
3_ns_150_250    0             1                Control    190127
                              0                Test       191711
1_ns_1_50       0             0                Control    217509
6_ns_500_700    1             1                Test       253063
2_ns_51_150     0             0                Control    273889
5_ns_300_500    1             1                Test       307529
                0             1                Test       317525
7_ns_700_1100   1             1                Test       321597
2_ns_51_150     0             1                Control    396033
1_ns_1_50       0             1                Test       410561
3_ns_150_250    0             1                Test       443631
1_ns_1_50       0             0                Test       507521
2_ns_51_150     0             0                Test       639076
                              1                Test       924078
Name: CUSTOMER_ID, dtype: int64

In [19]:
test

,BUCKETS,REGULAR_FLAG,CONSISTENT_FLAG,Flag,CUSTOMER_ID,MC2_FLAG,AS_FLAG,AS_PERC,MC2_PERC
0,1_ns_1_50,0,0,Control,217509,11865,90440,41.579889,5.454947
1,1_ns_1_50,0,0,Test,507521,27680,211026,41.579757,5.453962
2,1_ns_1_50,0,1,Control,175954,122100,80509,45.755709,69.393137
3,1_ns_1_50,0,1,Test,410561,284901,187853,45.755198,69.393099
4,2_ns_51_150,0,0,Control,273889,18101,122929,44.882781,6.608882
5,2_ns_51_150,0,0,Test,639076,42238,286835,44.882768,6.609230
6,2_ns_51_150,0,1,Control,396033,217392,207288,52.341093,54.892395
7,2_ns_51_150,0,1,Test,924078,507250,483673,52.341144,54.892552
8,2_ns_51_150,1,1,Control,16710,6125,8019,47.989228,36.654698
9,2_ns_51_150,1,1,Test,38991,14293,18716,48.000821,36.657177
10,3_ns_150_250,0,0,Control,82161,9155,42863,52.169521,11.142756
11,3_ns_150_250,0,0,Test,191711,21363,100012,52.168107,11.143336
12,3_ns_150_250,0,1,Control,190127,87419,107220,56.393884,45.979266
13,3_ns_150_250,0,1,Test,443631,203978,250179,56.393489,45.979203
14,3_ns_150_250,1,1,Control,46345,13584,21879,47.208976,29.310605
15,3_ns_150_250,1,1,Test,108139,31695,51050,47.207760,29.309500
16,4_ns_250_300,0,0,Control,23999,4098,14541,60.590025,17.075711
17,4_ns_250_300,0,0,Test,56000,9562,33926,60.582143,17.075000
18,4_ns_250_300,0,1,Control,56078,23963,32209,57.436071,42.731552
19,4_ns_250_300,0,1,Test,130849,55914,75154,57.435670,42.731698
20,4_ns_250_300,1,1,Control,30477,8237,14184,46.540014,27.026938
21,4_ns_250_300,1,1,Test,71114,19217,33097,46.540766,27.022808
22,5_ns_300_500,0,0,Control,30817,2930,16798,54.508875,9.507739
23,5_ns_300_500,0,0,Test,71908,6835,39193,54.504367,9.505201
24,5_ns_300_500,0,1,Control,136081,53300,85613,62.913265,39.167849
25,5_ns_300_500,0,1,Test,317525,124366,199766,62.913471,39.167310
26,5_ns_300_500,1,1,Control,131798,29179,61477,46.644866,22.139183
27,5_ns_300_500,1,1,Test,307529,68080,143447,46.645032,22.137750
28,6_ns_500_700,0,0,Control,10078,1124,6143,60.954554,11.153007
29,6_ns_500_700,0,0,Test,23517,2625,14333,60.947400,11.162138
30,6_ns_500_700,0,1,Control,50468,16658,34732,68.819846,33.007054
31,6_ns_500_700,0,1,Test,117759,38868,81040,68.818519,33.006394
32,6_ns_500_700,1,1,Control,108455,17653,50678,46.727214,16.276797
33,6_ns_500_700,1,1,Test,253063,41196,118250,46.727495,16.278950
34,7_ns_700_1100,0,1,Control,34281,9738,25232,73.603454,28.406406
35,7_ns_700_1100,0,1,Test,79991,22725,58877,73.604531,28.409446
36,7_ns_700_1100,1,1,Control,137826,16294,64646,46.904067,11.822153
37,7_ns_700_1100,1,1,Test,321597,38019,150841,46.903734,11.821939
38,8_ns_1100_1200,0,1,Control,3090,777,2360,76.375405,25.145631
39,8_ns_1100_1200,0,1,Test,7211,1810,5508,76.383303,25.100541
40,8_ns_1100_1200,1,1,Control,22211,2009,10435,46.981226,9.045068
41,8_ns_1100_1200,1,1,Test,51828,4687,24350,46.982326,9.043374
42,9_ns_1200_1500,0,1,Control,5511,1242,4261,77.318091,22.536745
43,9_ns_1200_1500,0,1,Test,12861,2896,9944,77.319027,22.517689
44,9_ns_1200_1500,1,1,Control,48898,3800,23020,47.077590,7.771279
45,9_ns_1200_1500,1,1,Test,114096,8867,53713,47.077023,7.771526